.banners {
    display: flex;
    
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0 5px 1px 0 rgba(0,0,0,.05);
  }

  .left-banners {
    margin-right: 5px;
  }

  .rolling-banners {
    width: 815px;
    border-radius: 2px;
    
  }
  .left-banners > img{
    width: 800px;
    height: 30px;
    border-radius: 2px;
  }
  .right-banners > img{
    width: 400px;
    
    border-radius: 2px;
  }
  .right-banners >img:first-child{
    margin-bottom: 3px;
  }
  .bottom-section {
    width: 1200px;
    justify-content: space-between;
    margin: 20px auto 0;
    align-items:  flex-start;
   
  }
  .bottom-section > li {
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  .bottom-section > li > span {
    margin-bottom: auto;
  }
  .bottom-section > li:hover > img{
    width: 48px;
    margin-bottom: 5px;
  }
  .bottom-section > li > img{
    width: 50px;
    margin-bottom: 7px;
  }
  .swiper{
    width: 800px;   
  }
  .swiper-button-prev, .swiper-button-next {
    background-color: rgba(0,0, 0, 0.5) ;
    padding: 5px;
  }
  .swiper-button-prev {
    left: 0;
    display: none;
  }
  .swiper-button-next {
    right: 0;
    display: none;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 16px;
    font-weight: bold;
    color: white;
  } 
  .swiper:hover > .swiper-button-prev, .swiper:hover > .swiper-button-next {
    display: flex;
  }
  .swiper-pagination-bullet-active {
    background-color: white;
  }
  .floating {
    position: fixed;
    right: 200px;
    bottom: 20px;
  }
  .category{
    background-color:#f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .category-wrap{
    width: 1200px;
    background-color: white;
    margin: auto;
    
  }
  .category-title{  
    padding: 25px;
    font-size: 14px;
    font-weight: 500;
    color: gray;
    padding: 20px;
    margin-right: auto;
  }
  .card > img {
    width: 83px;
  }
  .card-box {
    width: 100%;
    justify-content: space-evenly;
  }
  .card{
    border: 0.5px solid #f2f2f2;
    width: 100px;
    
    box-sizing: border-box;
    height: 120px;
    cursor: pointer;
    text-align: center;
  }

  .card:hover {
    box-shadow: 0px 0px 5px 0px #f2f2f2;
  }
